<html>
	<head></head>
	<body>
		<div id="top-container">
			<div if="top-container">
				<div id="informacion">
					<h1>NAILONG.INC</h1>
					<H2>Bienvenido de vuelta Gilberto</H2>
					<H2>Admin</H2>
					<div class="agregar-btn">
						<a href="perfil/crear/nuevo"><button>Crear nuevo trabajador +</button></a>
						<p>{{trabajadores}}</p>
						<p>hola</p>
					</div>
					<div class="agregar-btn">
						<a href="perfil/administrador/gilberto"><button>Editar perfil +</button></a>
					</div>
					<div class="agregar-btn">
						<a href="/logout"><button>Cerrar session</button></a>
					</div>
				</div>
				<div id="bottones"></div>
			</div>
			<div id="pfp-container">
				<img src="../static/nailong.jpg" alt="pfp" />
			</div>
		</div>

		<div>
			<h1>Lista de trabajadores</h1>
			<div id="list-container">
				{% for trabajador in trabajadores %}
				<div class="list-item">
					<div class="list-information">
						<h3>{{trabajador[1]}} {{trabajador[2]}}</h3>
						<p>{{trabajador[4]}} | <span></span> {{"Activo" if trabajador[8] == 1 else "Inactivo" }}</p>
					</div>
					<div class="button-container">
						<a href="perfil/eliminar/perfil"><button>+</button></a>
					</div>
					<div class="button-container">
						<a href="mensaje/escribir"><button>Mensaje</button></a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</body>
</html>
