<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
	</head>
	<body>
		<h1>NAILONG.INC</h1>
		<h2>Inicio de sesión</h2>
		<form action="/login" method="POST">
			<label for="nombre">Nombre:</label>
			<input type="text" name="nombre" id="nombre" />
			<label for="contrasena">Contraseña:</label>
			<input type="password" name="contrasena" id="contrasena" />
			<input type="submit" value="Iniciar sesion" />
		</form>
	</body>
</html>